<div class="container" ng-controller="movie_listController">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th> 电影名字</th>
                <th> 导演</th>
                <th> 国家</th>
                <th> 上映年份</th>
                <th> 类别</th>
                <th> 热度</th>
                <th> 查看</th>
                <th> 更新</th>
                <th> 删除</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in movies" class="item-id-{{item._id}}">
                <td>{{item.title}}</td>
                <td>{{item.doctor}}</td>
                <td>{{item.country}}</td>
                <td>{{item.year}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.pv}}</td>
                <td><a href="#/movie/detal/{{item._id}}">查看</a></td>
                <td><a href="#/movie/update/{{item._id}}">修改</a></td>
                <td>
                    <button type="button" ng-click="delete(item._id)" class="btn btn-danger del">删除</button>
                    <!--<script src="/public/admin.js"></script>-->
                </td>
            </tr>
            </tbody>
        </table>
        <pagination itemsList=movielist pagesize="5" url="#/movie/list"></pagination>

    </div>
</div>